/* Style to center the row */
.center-row {
    display:inline-flex;
    justify-content: center;
    margin-left: -10%; /* Move the row 10% to the left */
}

.container {
    width: 100vw;
    height: 100vh;
}


.row {
  display: flex;
  align-items: flex-start; /* Align items to the top of the flex container */
  width: 100%;
}

.name {
  flex: 1;
  margin-right: 10px; /* Adjust as needed */
}
.leadership-grid {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.leadership-grid li {
  display: inline;
  text-align: center;
}

/* Optionally, you can add some styling to the links inside the list items */
.leadership-grid li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #000; /* Adjust color as needed */
}

/* Optionally, add hover effects */
.leadership-grid li a:hover {
  background-color: #ccc; /* Adjust color as needed */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 165px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;   
}