
/* Style to center the row */
.center-row {
    display:inline-flex;
    justify-content: center;
    margin-left: -10%; /* Move the row 10% to the left */
}
.canvas {
    border: 1px solid ;
    border-radius: 10px;
    margin-right: 5px;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
  }