.container {
    margin-top: -43.5%; /* Adjust margin as needed */
}

/* Style to center the row */
.center-row {
    display:inline-flex;
    justify-content: center;
    margin-left: -10%; /* Move the row 10% to the left */
}
