
/* Style to center the row */
.center-row {
    display:inline-flex;
    justify-content: center;
    margin-left: -10%; /* Move the row 10% to the left */
}
.canvas {
    border: 1px solid ;
    border-radius: 10px;
    margin-right: 5px;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
  }

  /* Variable */
:root {
    --teal: #4e9398;
}
/* Name */
.name {
    position: relative;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem; /* Add space between names */
}


/* Body */
body {
    font-family: 'Roboto', sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Catamaran', sans-serif;
    line-height: 1;
}

/* Header and Footer */
header, footer {
    width: 100%;
    display: block;
    height: 100px; 
    background: #f6f6f6;
    margin-bottom: 5rem;
}

footer {
    margin: 5rem 0 0;
}

/* Main */
main {
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 600px) {
    main {
        width: 85%;
    }
}

/* Unordered List */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    box-sizing: border-box;
    display: flex;
    position: relative;
    padding: 3rem 0;
    align-items: flex-end;
}

@media (min-width: 400px) {
    ul li {
        padding: 5rem 0;
    }
}

@media (min-width: 600px) {
    ul li {
        padding: 3rem 0;
    }
}

/* Portrait */
.portrait {
    pointer-events: none;
    position: absolute;
    width: 75%;
    top: 50%;
    left: 3rem;
    transform: translateY(-55%) scale(0.95);    
    opacity: 0;
    transition: all 150ms ease-in-out;
    max-width: 300px;
}

@media (min-width: 600px) {
    .portrait {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .portrait {
        width: 35%;
    }
}

/* Headings */
h2 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-top: 0;
    margin-bottom: -9px;
}

@media(min-width: 400px) {
    h2 {
        font-size: 2rem;
    }
}

@media(min-width: 800px) {
    h2 {
        font-size: 3rem;
    }
}

/* Name */
.name {
    position: relative;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.name:after {
    content: "";
    border-bottom: 3px solid var(--teal);
    box-shadow: inset 0 -1px 0 var(--teal);
    transition: box-shadow .15s cubic-bezier(.33,.66,.66,1);
    display: inline-block;
    position: absolute;
    bottom: -5px;
    left: 0;
    display: block;
    width: 100%;
    min-height: 2rem;
    z-index: -1;
}

.name:hover:after,
.name:focus:after,
.name:active:after {
    box-shadow: inset 0 -9px 0 var(--teal);
    border-bottom: 3px solid var(--teal);
}

/* Links */
a, a:visited,
a:hover, 
a:focus, 
a:active {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
